@page "/Admin"

@attribute [Authorize(Policy = "Admin")]

@inject NavigationManager NavManager
@inject IIssueService IssueService
@inject IUserService UserService

<h1 class="page-heading text-uppercase mb-4">Pending Issues</h1>

<div class="row">
	<div class="suggestions-count col-8 mt-2">@_issues?.Count Issues</div>
	<div class="col-4 close-button-section">
		<button class="btn btn-close" @onclick="ClosePage"></button>
	</div>
</div>

@if (_issues is not null)
{
	foreach (var s in _issues)
	{
		<div class="row issue">
			<div class="col-lg-2 col-md-3 col-sm-4">
				<button class="btn btn-approve" @onclick="(() => ApproveSubmission(s))">Approve</button>
				<button class="btn btn-reject" @onclick="(() => RejectSubmission(s))">Reject</button>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8">
				<div>
					@if (_currentEditingTitle == s.Id)
					{
						<EditForm class="approval-edit-form" Model="@_editedTitle" OnSubmit="(() => SaveTitle(s))">
							<InputText class="form-control approval-edit-field" @bind-Value="_editedTitle"/>
							<button class="btn" type="submit">
								<span class="oi oi-check issue-edit-approve"></span>
							</button>
							<button type="button" class="btn" @onclick="(() => _currentEditingTitle = string.Empty)">
								<span class="oi oi-x issue-edit-reject"></span>
							</button>
						</EditForm>
					}
					else
					{
						@s.IssueName
						<span class="oi oi-pencil issue-edit-icon" @onclick="(() => EditTitle(s))"></span>
					}
				</div>
				<div>
					@if (s.Category is not null)
					{
						@s.Category.CategoryName

					}
				</div>
				<div>
					@s.Author.DisplayName
				</div>
				<div>
					@if (_currentEditingDescription == s.Id)
					{
						<EditForm class="approval-edit-form" Model="@_editedDescription" OnSubmit="(() => SaveDescription(s))">
							<InputText class="form-control approval-edit-field" @bind-Value="_editedDescription"/>
							<button class="btn" type="submit">
								<span class="oi oi-check issue-edit-approve"></span>
							</button>
							<button type="button" class="btn" @onclick="(() => _currentEditingDescription = string.Empty)">
								<span class="oi oi-x issue-edit-reject"></span>
							</button>
						</EditForm>
					}
					else
					{
						@s.Description
						<span class="oi oi-pencil issue-edit-icon" @onclick="(() => EditDescription(s))"></span>
					}
				</div>
			</div>
		</div>
	}
}