@page "/Details/{Id}"

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject IIssueService IssueService
@inject IUserService UserService
@inject IStatusService StatusService
@inject ICommentService CommentService

<PageTitle>Details Page</PageTitle>

<h1 class="page-heading text-light text-uppercase mb-4">Issue Details</h1>

<div class="row justify-content-center detail-form">
	<div class="col-xl-8 col-lg-10 form-layout">
		@if (_issue is not null)
		{
			<div class="row issue-detail-row">
				<div class="col-11 issue-detail">
					<div>
						<div class="issue-detail-date">
							<div>@_issue.DateCreated.ToString("MM.dd.yyyy")</div>
						</div>
					</div>
					<div class="issue-detail-text">
						<div class="fw-bold mb-2 issue-detail-issue">@_issue.IssueName</div>
						<div class="mb-2 issue-detail-author">@_issue.Author.DisplayName</div>
						<div class="mb-2 d-none d-md-block">@_issue.Description</div>
						<div class="issue-entry-text-category d-none d-md-block">
							@if (_issue.Category is not null)
							{
								@_issue.Category.CategoryName
							}
						</div>
					</div>
				</div>
				<div class="col-1 close-button-section">
					<button id="close-page" class="btn btn-close" @onclick="ClosePage"></button>
				</div>
			</div>
			<div class="row d-block d-md-none">
				<div class="issue-detail-text">
					<div>@_issue.Description</div>
					<div class="issue-entry-text-category">
						@if (_issue.Category is not null)
						{
							@_issue.Category.CategoryName
						}
					</div>
				</div>
			</div>
			<div class="row issue-detail-row">
				<div class="col-11 issue-detail">
					<btn id="create-comment" class="btn btn-comment" @onclick="() => OpenCommentForm(_issue)">Add Comment</btn>
				</div>
			</div>
		}
	</div>
</div>

@if (_issue?.IssueStatus is not null)
{
	<div class="row justify-content-center detail-form">
		<div class="col-xl-8 col-lg-10 issue-results form-layout">
			<div class="@GetStatusCssClass()"></div>
			<div class="issue-detail-status-section">
				<div class="issue-detail-status fw-bold mb-2 issue-detail-issue">
					@_issue.IssueStatus.StatusName
				</div>
			</div>
		</div>
	</div>
}

@if (_comments is not null && _comments.Any())
{
	<div class="row justify-content-center detail-form">
		<div class="col-xl-8 col-lg-10 form-layout comment-details">
			<div>
				<div class="issue-detail-status fw-bold mb-2 issue-detail-issue">Comments</div>
				@foreach (var s in _comments)
				{
					<div class="row issue-detail-row">
						<div class="col-11 issue-detail">
							<div>
								<div id="vote" class="@GetVoteCssClass(s)" @onclick="() => VoteUp(s)">
									<div class="text-uppercase">@GetUpVoteTopText(s)</div>
									<span class="oi oi-caret-top detail-upvote"></span>
									<div class="text-uppercase">@GetUpVoteBottomText(s)</div>
								</div>
								<div class="issue-detail-date">
									<div>@s.DateCreated.ToString("MM.dd.yyyy")</div>
								</div>
							</div>
							<div class="issue-detail-comments-section">
								<div class="issue-detail-text">
									<div class="fw-bold mb-2 issue-detail-comments">Comment</div>
									<div class="mb-2 d-none d-md-block">@s.Comment</div>
									<div class="mb-2 issue-detail-author">@s.Author.DisplayName</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}

@if (_issue is not null)
{
	<AuthorizeView Policy="Admin">
		<div class="row justify-content-center detail-form">
			<div class="col-xl-8 col-lg-10 form-layout admin-details">
				<div>
					<div class="issue-detail-status fw-bold mb-2 issue-detail-issue">
						Set Status
					</div>
					@if (string.IsNullOrWhiteSpace(_settingStatus))
					{
						<div class="admin-set-statuses">
							<button id="answered" @onclick="@(() => _settingStatus = "answered")"
									class="btn issue-entry-text-category btn-archive btn-status-answered">
								answered
							</button>
							<button id="inwork" @onclick="@(() => _settingStatus = "in work")"
									class="btn issue-entry-text-category btn-archive btn-status-inwork">
								in work
							</button>
							<button id="watching" @onclick="@(() => _settingStatus = "watching")"
									class="btn issue-entry-text-category btn-archive btn-status-watching">
								watching
							</button>
							<button id="dismissed" @onclick="@(() => _settingStatus = "dismissed")"
									class="btn issue-entry-text-category btn-archive btn-status-dismissed">
								dismissed
							</button>
						</div>
					}
					else if (_settingStatus == "answered")
					{
						<div>
							<input id="input-answer" @bind="_urlText" class="form-control rounded-control" type="text"
								 placeholder="Url" aria-label="Content Url" />
						</div>
						<div class="issue-entry-bottom">
							<button id="confirm-answered-status" class="btn btn-archive-confirm"
									@onclick="CompleteSetStatus">
								confirm
							</button>
							<button id="cancel-answered-status" class="btn btn-archive-reject"
									@onclick="() => _settingStatus = null">
								cancel
							</button>
						</div>
					}
					else
					{
						<div class="issue-entry-bottom">
							<button id="confirm-status-change" class="btn btn-archive-confirm"
									@onclick="CompleteSetStatus">
								confirm
							</button>
							<button id="cancle-status-change" class="btn btn-archive-reject"
									@onclick="() => _settingStatus = null">
								cancel
							</button>
						</div>
					}
				</div>
			</div>
		</div>
	</AuthorizeView>
}