@inject ICommentService CommentService

<div id="comment-entry">

	<div id="vote" class="@GetVoteCssClass(Item)" @onclick="() => VoteUp(Item)" style="grid-column-start: 1;">
		<div class="text-uppercase">@GetUpVoteTopText(Item)</div>
		<span class="oi oi-caret-top detail-upvote"></span>
		<div class="text-uppercase">@GetUpVoteBottomText(Item)</div>
	</div>

	<div>
		<div class="text-title">
			@Item.Title
		</div>
		<div class="text-description">
			@Item.Description
		</div>
		<div class="comment-header">
			<label class="category-date">@Item.DateCreated.ToString("MM.dd.yyyy")</label>

			<label class="category-author">@Item.Author.DisplayName.ToUpper()</label>
		</div>
	</div>

</div>